django>=5.1.15
torch
moviepy
transformers
nltk
fpdf2
python-dotenv
Pillow
django-crispy-forms
django-allauth
django-widget-tweaks
django-filter
django-tables2
django-bootstrap5
django-environ
django-debug-toolbar
django-extensions
django-cleanup
python-decouple
requests
beautifulsoup4
pandas
numpy
scipy
scikit-learn
matplotlib
seaborn
plotly
tqdm
ipython
jupyter
python-dateutil
pytz
six
sqlparse
asgiref
whitenoise
gunicorn
psycopg2-binary
dj-database-url
django-storages
boto3

ffmpeg-python
