<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Forgot Password | AI Summarizer</title>
      <link rel="stylesheet" href="../static/login.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="content">
         <div class="text">Forgot Password</div>
         <form action="#">
            <div class="field">
               <input type="text" required>
               <span class="fas fa-envelope"></span>
               <label>Email</label>
            </div>
            <a href="otp.html" style="text-decoration: none; color: inherit;"><button>Reset Password</button></a>
            <div class="sign-up">
               Remembered your password?
               <a href="login.html">Login here</a>
            </div>
         </form>
      </div>
   </body>
</html>
